<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>图片列表 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.imglist.css" rel="stylesheet"/>
</head>
<body>
<!--ks_imglist-->
<ul class="ks_imglist">
    <li>
        <a href="#" class="ks_il_img">
            <img src="http://t2.f0.img4399.com/mi~147283~78x78?1395213155" alt="萌猫传奇"/>
        </a>
        <a href="#" class="ks_il_title">萌猫传奇</a>
    </li>
    <li>
        <a href="#" class="ks_il_img">
            <img src="http://t2.f0.img4399.com/mi~146422~78x78?1395196277" alt="决战喵星"/>
        </a>
        <a href="#" class="ks_il_title">决战喵星</a>
    </li>
    <li>
        <a href="#" class="ks_il_img">
            <img src="http://t2.f0.img4399.com/mi~95058~78x78?1395374380" alt="极品飞车:最高通缉OL"/>
        </a>
        <a href="#" class="ks_il_title">极品飞车:最高通缉OL</a>
    </li>
    <li>
        <a href="#" class="ks_il_img">
            <img src="http://t2.f0.img4399.com/mi~136384~78x78?1394703692" alt="造梦西游OL"/>
        </a>
        <a href="#" class="ks_il_title">造梦西游OL</a>
    </li>
    <li>
        <a href="#" class="ks_il_img">
            <img src="http://t2.f0.img4399.com/mi~136464~78x78?1395213804" alt="飙车飞盗"/>
        </a>
        <a href="#" class="ks_il_title">飙车飞盗</a>
    </li>
</ul>
<!--/ks_imglist-->
</body>
</html>