<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>不定高垂直水平居中 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.verhor.css" rel="stylesheet"/>
    <style>
        .demo_box{
            width:108px;
            height: 110px;
            border:2px solid #f0f0f0;
            background: #f2f2f2;
            margin-bottom:10px;
        }
    </style>
</head>
<body>
<div class="demo_box">
    <!--ks_verhor-->
    <div class="ks_verhor">
        <img src="http://img0.bdstatic.com/img/image/772c2cec3fdfc039245adbf84208594a4c27d1e2592.jpg" width="100" height="75" class="ks_verhor_content"/>
    </div>
</div>
<div class="demo_box">
    <div class="ks_verhor">
        <img src="http://f.hiphotos.baidu.com/pic/w%3D230/sign=33b9c2b78694a4c20a23e0283ef51bac/78310a55b319ebc4527455218326cffc1e17167d.jpg" width="75" height="100" class="ks_verhor_content"/>
    </div>
</div>
<!--/ks_verhor-->
</body>
</html>