<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>百度分享 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.share.css" rel="stylesheet"/>

</head>
<body>
<!--ks_bdshare-->
<div class="ks_bdshare">
    <span class="ks_share_field">分享到：</span>
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_tqf"></a>
    </div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&mini=1&uid=745358" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        var bds_config = {'bdText':"哇~在4399游戏吧里玩游戏可以赚积分，赚了积分还可以抽大奖，IPAD MINI、抱枕、游戏礼包......还等什么，快点一起来吧！",'bdPic':"http://l.s.img4399.com/events/2013/lotteryguide/images/weibo.jpg?_IMG_VERSION_CUR_"};
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?v=1351668927?cdnversion=" + new Date().getHours();
    </script>
    <!-- Baidu Button END -->
</div>
<!--/ks_bdshare-->
</body>
</html>