<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>提示浮窗 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.tipbox.css" rel="stylesheet"/>
    <style>
        body{
            position: relative;
            padding:20px;
        }
        .demo_tipbox{
            width:182px;
            padding:5px;
        }
    </style>
</head>
<body>
<!--ks_tipbox-->
<div class="ks_tipbox ks_tipbox_left">
    <div class="ks_tipbox_shadow">
        <b class="ks_tipbox_arrow_o">◆</b>
        <div class="ks_tipbox_shadow_bg"></div>
    </div>
    <div class="ks_tipbox_body">
        <b class="ks_tipbox_arrow_t">◆</b>
        <b class="ks_tipbox_arrow_f">◆</b>
        <div class="ks_tipbox_content">
            <!--demo_tipbox-->
            <div class="demo_tipbox">
                箭头向左
            </div>
            <!--/demo_tipbox-->
        </div>
    </div>
</div>
<!--/ks_tipbox-->
</body>
</html>