<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>多列等高 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.grid.equalh.css" rel="stylesheet"/>
    <style>
        .ks_grid_equalh{
            border:1px solid #ddd;
        }
        .ks_grid_equalh .ks_section{
            background: #F4FBFF;
            width:148px;
        }
        .ks_grid_equalh .ks_aside{
            background: #f2f2f2;;
            width:440px;
            padding:0 0 0 10px;
        }
    </style>
</head>
<body>
<!--ks_grid_equalh-->
<div class="ks_grid_equalh">
    <div class="ks_section">
        A
    </div>
    <div class="ks_aside">
        设计模式库即Design Patten Library<br/>
        总结了Web开发中常见模块的HTML结构，并提供一套默认CSS。<br/>
        每个模块都提供了便捷的HTML源码拷贝功能。<br/>
        每个模块都标识了依赖的CSS文件。<br/>
        你也可以根据需要对样式进行修改。<br/>
    </div>
</div>
<!--ks_grid_equalh-->
</body>
</html>