<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>不透明圆角 - 基本盒子 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.box.radius.css" rel="stylesheet"/>
</head>
<body>
    <!--ks_box-->
    <div class="ks_box">
        <div class="ks_hd">
            <div class="ks_title">
                <h2 class="ks_h">头部</h2>
                <a href="#" class="ks_more">更多+</a>
            </div>
            <span class="ks_lt"></span>
            <span class="ks_rt"></span>
        </div>
        <div class="ks_bd">
            圆角不透明模块，此模块基于游戏吧首页通用模块
        </div>
        <div class="ks_fd">
            <span class="ks_lb"></span>
            <span class="ks_rb"></span>
        </div>
    </div>
    <!--/ks_box-->
</body>
</html>