<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>布局 - 双飞翼 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.grid.negmar.css" rel="stylesheet"/>
    <style>
        .demo_grid{
            border:1px solid #ddd;
        }
        .demo_grid .ks_content{
            background: #f4fbff;
            height:300px;
        }
        .demo_grid .ks_aside{
            background: #f2f2f2;
            height:300px;
        }
    </style>
</head>
<body>
<!--ks_grid_negmar-->
<div class="ks_grid_negmar demo_grid">
    <div class="ks_section">
        <div class="ks_content">
            B
        </div>
    </div>
    <div class="ks_aside">
        A
    </div>
</div>
<!--ks_grid_negmar-->
</body>
</html>