<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>文字列表 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.txtlist.css" rel="stylesheet"/>
</head>
<body>
<!--ks_txtlist-->
<ul class="ks_txtlist ks_txtlist_r">
    <li><span class="ks_r">2013-12-25</span><span class="ks_l">[资讯]</span><i class="ks_ico"></i><a href="#" title="家教狱寺BG：留恋光昏，在黄昏">家教狱寺BG：留恋光昏，在黄昏</a></li>
    <li><span class="ks_r">2013-06-06</span><span class="ks_l">[评测]</span><a href="#" title="家庭教师动画对应的漫画内容">家庭教师动画对应的漫画内容</a></li>
    <li><span class="ks_r">2013-01-01</span><span class="ks_l">[视频]</span><a href="#" title="少年JUMP2014年第6-7期合刊号顺位">少年JUMP2014年第6-7期合刊号顺位</a></li>
    <li><span class="ks_r">2013-02-13</span><span class="ks_l">[攻略]</span><a href="#" title="海贼王圣诞萌图欣赏">海贼王圣诞萌图欣赏</a></li>
    <li><span class="ks_r">2013-04-08</span><span class="ks_l">[活动]</span><a href="#" title="女生茶话会24期 甜心格格">女生茶话会24期 甜心格格</a></li>
    <li><span class="ks_r">2013-08-10</span><span class="ks_l">[活动]</span><a href="#" title="FREEing超级索尼子圣诞服欣赏">FREEing超级索尼子圣诞服欣赏</a></li>
    <li><span class="ks_r">2013-09-15</span><span class="ks_l">[活动]</span><a href="#" title="阿U与美食精美系列插画">阿U与美食精美系列插画</a></li>
    <li><span class="ks_r">2013-10-15</span><span class="ks_l">[活动]</span><a href="#" title="海贼王剧场版Z长款套图欣赏">海贼王剧场版Z长款套图欣赏</a></li>
</ul>
<!--/ks_txtlist-->
</body>
</html>