<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>文字列表 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.txtlist.css" rel="stylesheet"/>
</head>
<body>
<!--ks_txtlist-->
<ul class="ks_txtlist">
    <li><a href="#" title="炉石传说国服现刷金外挂 或将永久封号">炉石传说国服现刷金外挂 或将永久封号</a></li>
    <li><a href="#" title="秘密开发中 《爸爸去哪儿》或将12月发布">秘密开发中 《爸爸去哪儿》或将12月发布</a></li>
    <li><a href="#" title="世嘉RPG《锁链编年史》中文版预计明年发布">世嘉RPG《锁链编年史》中文版预计明年发布</a></li>
    <li><a href="#" title="抗日手游《大抗战》首测　玩家好评如潮">抗日手游《大抗战》首测　玩家好评如潮</a></li>
    <li><a href="#" title="【愤怒系列】小打小闹纯逗趣：愤怒小鸟Go">【愤怒系列】小打小闹纯逗趣：愤怒小鸟Go</a></li>
    <li><a href="#" title="【4399苹果手机游戏】每日限免降价游戏推荐">【4399苹果手机游戏】每日限免降价游戏推荐</a></li>
    <li><a href="#" title="【问题反馈】在安装或使用4399手机游戏客户端遇到问题答疑帖">【问题反馈】在安装或使用4399手机游戏客户端遇到问题答疑帖</a></li>
    <li><a href="#" title="抗日手游《大抗战》首测　玩家好评如潮">抗日手游《大抗战》首测　玩家好评如潮</a></li>
</ul>
<!--/ks_txtlist-->
</body>
</html>