<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>分页 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.page.css" rel="stylesheet"/>
</head>
<body>
<!--ks_page-->
<div class="ks_page">
    <div class="ks_c">
        <a href="#" class="ks_first">首页</a>
        <a href="#" class="ks_prev">上一页</a>
        <div class="ks_num">
            <a href="#">1</a>
            <a href="#" class="ks_cur">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <span>.....</span>
        </div>
        <a href="#" class="ks_next">下一页</a>
        <a href="#" class="ks_last">最后一页</a>
        <span class="ks_tnum">共100页</span>
        <!--<form action="#" class="ks_goto">
            <fieldset>
                <legend>跳转</legend>
                到第<input type="text" class="ks_ipt"/>页<input type="submit" class="ks_btn" value="确定"/>
            </fieldset>
        </form>-->
    </div>
</div>
<!--/ks_page-->
</body>
</html>