<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>面包屑 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.crumbs.css" rel="stylesheet"/>
</head>
<body>
<!--ks_crumbs-->
<div class="ks_crumbs">
    <span>当前位置：</span>
    <a href="#">my平台</a>
    <span class="ks_split">&gt;</span>
    <a href="#">积分商城</a>
    <span class="ks_split">&gt;</span>
    <span class="ks_title">我的积分</span>
</div>
<!--/ks_crumbs-->
</body>
</html>