<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>980栅格 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/980gs.css" rel="stylesheet"/>
   <style>
       .grid_9{
           background: #f2f2f2;
           font-family: "arial";
           height: 50px;
           font-size: 14px;
           line-height: 50px;
           text-align: center;
           font-weight: 700;
           color: #555;
           width:275px;
       }
   </style>
</head>
<body>
<div class="grid_row">
    <div class="grid_9">
        9<span>(485px)</span>
    </div>
    <div class="grid_9">
        9<span>(485px)</span>
    </div>
</div>
</body>
</html>