<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>左图右文 - 前端通用模块 - 细三久久</title>
    <link href="../release/css/ks.css" rel="stylesheet"/>
    <link href="../release/css/ks.imgtxt.css" rel="stylesheet"/>
</head>
<body>
<!--ks_imgtxt-->
<div class="ks_imgtxt">
    <div class="ks_img">
        <img src="http://pkgpic.ctrip.com/images2/1/12/12_198_s31840.jpg"/>
    </div>
    <h3 class="ks_title">4399游戏</h3>
    <div class="ks_content">
        <p>4399游戏是李兴平创建于2004年，迅速成长为中国最大的互联网小游戏平台之一，总部位于厦门。4399游戏在百度用户关注指数一度高居榜首，同时被Google列为十大中文互联网品牌。</p>
    </div>
</div>
<!--/ks_imgtxt-->
</body>
</html>