/*icons*/
[class^="i-"], [class*=" i-"]{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icons-white.png) no-repeat;
	-webkit-background-size: 16px 116px;
}

.i-black{
	background-image: url(../images/icons-black.png);
}

.i-grey{
	background-image: url(../images/icons-grey.png);
}

.i-share {
	background-position: 0 0;
}

.i-home {
	background-position: 0 -20px;
}

.i-lab {
	background-position: 0 -40px;
}

.i-list {
	background-position: 0 -60px;
}

.i-arrow-down {
	background-position: 0 -80px;
}

.i-arrow-right {
	background-position: 0 -80px;
	-webkit-transform:rotate(-90deg);
}

.i-back{
	background-position: 0 -100px;
}