.la-loadmore{
	display: block;
	text-align: center;
	background: #0C5ED8;
	height: 34px;
	line-height: 34px;
	margin: 10px;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
}

.la-loadmore.ctl-error{
	background: #E4B248;
}

.la-loadmore.ctl-touch{
	background: #478AEE;
}

.la-loadmore.ctl-loading{
	background: #ccc;
	color: #666;
}

.la-loadmore.ctl-nodata{
	background: transparent;
	color: #999;
	font-size: 14px;
}