@charset "utf-8";
/* CSS reset@ */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a{ padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
del, ins { text-decoration:none;}
fieldset, img { border: 0;}
body,button,input,select,textarea{ font:12px "simsun",Tahoma,Helvetica,Arial;}
input,select,img{ vertical-align:middle}
input,select{ outline:none}
input,button,select,textarea{outline:none}
textarea {resize:none; overflow:hidden; }
ul,ol{ list-style:none;}
h1, h2, h3, h4, h5, h6 { font-size:12px; font-weight:400;}
address,cite,dfn,em,var{font-style:normal;}
legend{ display:none}
td{ font-size:12px; line-height:160%;}
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0}
.fl{ float:left;}
.fr{ float:right;}
.fl,.fr{ display:inline;}
.tlef{ text-align:left;}
.tcen{ text-align:center;}
.trig{ text-align:right;}
a{ text-decoration:none;}
a:active, a:focus{-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);} 
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both; height:0; overflow:hidden;}
