.la-list-fluid{
	padding: 0 5px;
}

.la-list-fluid ul{
	text-align: center;
	font-size: 0;
}

.la-list-fluid li{
	width: 155px;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
}

.la-list-fluid li a{
	display: block;
	text-align: center;
	padding: 0 5px;
}

.la-list-fluid li .thumbnail{
	padding: 4px;
	border:1px solid #ddd;
	display: inline-block;
	border-radius: 3px;
	width: 130px;
	height: 100px;
}

.la-list-fluid li .title{
	display: block;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-size: 14px;
}