.la-slide{
	padding: 0 4px;
	overflow:hidden;
}

.la-slide ul{
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
	transform: translate3d(0%,0,0) scale3d(1,1,1);
	overflow: hidden;
	float: left;
}

.la-slide ul.ctl-animate {
	-webkit-transition: all .2s;
	transition: all .2s;
}

.la-slide li{
	float:left;
	height: 70px;
	width: 70px;
	margin-right: 4px;
}

.la-slide li img{
	width: 100%;
	display: block;
}

