/*
	la.share
*/

.la-share{
	border:2px solid #f5d377;
	border-radius: 5px; 
	padding:15px 20px; 
	text-align:center;
	background: #fff;
	margin-top: -63px;
	top: 50%; 
	width: 280px;
	left: 50%;
	margin-left: -140px;
	-webkit-box-sizing:border-box;
}

.la-share .btn-close{
	position: absolute;
	right:-10px;
	top:-10px;
	background: #fe9306;
	width: 24px;
	height: 24px;
	line-height: 22px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
	border-radius: 12px;
	-webkit-border-radius: 12px;
}

.la-share .title{
	font-size: 15px;
	font-weight: normal;
}

.la-share .links{
	margin:0 auto;
	width:100%;
	padding-top: 15px; 
}

.la-share .links li{
	width: 25%; 
	text-align:center;
	float: left;
}

.la-share .links a{
	color: #000; 
	display: block;
	line-height: 30px;
}

.la-share .links i{
	display: block;
	margin:0 auto;
	background:url(../images/share.png) no-repeat; 
	background-size:32px 137px;
	height: 32px;
	width: 32px;
}

.la-share .qqweibo i{background-position:0 0;}
.la-share .qqzone i{background-position:0 -35px;}
.la-share .sinaweibo i{background-position:0 -70px;}
.la-share .renren i{background-position:0 -105px;}