.la-slide{
	width:100%; 
	overflow:hidden;
}

.la-slide .slide-view{
	margin: 0 auto;
}

.la-slide .slide-view ul{
	width:10000px;
}

.la-slide .slide-view li{
	float:left;
}

.la-slide .slide-view li img{
	width: 100%;
}

.la-slide .slide-nav{
	margin-top:20px;
	font-size:0;
	text-align:center;
}

.la-slide .slide-nav li{
	background:#ccc;
	width:10px; 
	height:10px; 
	display:inline-block; 
	margin:0 5px; 
	border-radius:5px;
}

.la-slide .slide-nav .ctl-active{
	background:#ff6600;
}

.la-slide-center .slide-view li{
	-webkit-transition:opacity .5s ease-out;
	margin-right: 20px;
	opacity: .6;
}

.la-slide-center .slide-view li.ctl-active{
	opacity: 1;
}

