.la-view{
	padding: 10px;
}

.la-view .view-hd{
	border-bottom: 3px solid #ddd;
	height: 24px;
	line-height: 24px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
}

.la-view .view-bd{
	color: #333;
	line-height: 20px;
	font-size: 12px;
}

.la-view .view-bd h3{
	color: #333;
	line-height: 30px;
	font-size: 14px;
}